$red: #f44336;
$black: black;
$gray: gray;
$light-gray: #EFEFEF;
$app-background: #F2EFE3;

$light-green: #86E2D5;
$orange: #FF4500;
$blue: #3f51b5;
$light-blue: #00d4ff;
$pink: #f50057;
$darkGrey:#4F5A65;
$white:#FEFEFE;