$font-size-main-desk: 26px;
$font-size-primary-desk: 22px;
$font-size-secondary-desk: 18px;
$font-size-paragraph-desk: 14px;

$font-size-main-tab: 24px;
$font-size-primary-tab: 20px;
$font-size-secondary-tab: 16px;
$font-size-paragraph-tab: 14px;

$font-size-main-mob: 20px;
$font-size-primary-mob: 18px;
$font-size-secondary-mob: 16px;
$font-size-paragraph-mob: 14px;

$font-weight-bold: bold;
$font-weight-normal: normal;