@import "src/assets/style/index";
.app-common-form {
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 2px dashed $blue;
  .button-section {
    justify-content: flex-end;
    button {
      margin: 5px;
    }
  }
  .common-form-accordian {
    .MuiAccordionDetails-root {
      flex-direction: column;
    }
  }
  .form-field-container-wrapper {
    border-left: 2px solid $blue;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .form-field-container-wrapper.red-border {
    border-color: $red !important;
  }
}